{% extends 'base.html' %}
{% load socialaccount %}

  {% block contents %}

    <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-5 bg-grey p-3">
            <form class="form-signin">
                <h1 class="h3 mb-3">Customer Sign-in</h1>
                <a href="{% provider_login_url 'google' user="customer" %}" class="btn btn btn-danger btn-lg btn-block" role="button" aria-pressed="true">Sign in with Google</a>
              </form>
          </div>
        </div>
      </div>
        <div>{{ user_e }}</div>

{% endblock %}