{% extends 'base.html' %}
{% block contents %}
    <main class="main">

        <section class="title">
            <h1>Create two entrances using Allauth and Google login Project</h1>
        </section>

            {% if messages %}
            <section class="message">
                    <div class="alert alert-primary" role="alert">
                        <strong>Messages:</strong>
                        {{ message }}
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </div>
            </section>
            {% endif %}

        <section class="login">
            <div class="login__card">
                <a href="{% url 'two_app:shop-signup' %}">
                    <div class="login__card__body">
                        <h2 class="login__card__title">For Shop</h2>
                    </div>
                </a>
            </div>
            <div class="login__card">
                <a href="{% url 'two_app:customer-signUp' %}">
                    <div class="login__card__body">
                        <h2 class="login__card__title">For Customer</h2>
                    </div>
                </a>
            </div>
        </section>

        <section class="text_message">
            {% if user.is_authenticated %}
                <p>Welcome, {{ user.email }}</p>
            {% else %}
                <p>Welcome Friend, please log in</p>
            {% endif %}
        </section>

    </main>
{% endblock %}